[Desktop Entry]
Type=Application
Name=pushy
Comment=Pushbullet for elementary os.
Exec=com.github.harisvsulaiman.pushy
Icon=com.github.harisvsulaiman.pushy
Keywords=push;notification;send;
Terminal=false
X-GNOME-UsesNotifications=true
Categories=Utility;Network;
